@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659322988841') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_loading:before {
  content: "\eb80";
}

.icon-loading:before {
  content: "\e782";
}

.icon-jiazai:before {
  content: "\e7ba";
}

